<% content_for :javascript_includes do %>
  <%= javascript_include_tag "home.js" %>
<% end %>

<div class="container container-center" style="margin-top: 70px;">
<div class="row">
  <div class=" col-lg-9 col-md-9 col-sm-9">
    <ul class="nav nav-tabs"> <!-- Tab for the Statistics and Game -->
      <li class="active"><a data-toggle="tab" href="#statistics">Statistics</a></li>
      <li><a href="#game" data-toggle="tab"> Game </a></li>        
    </ul> <!-- End tab -->

    <div class="tab-content">
      <div id="statistics" class="tab-pane fade in active">
        <% if(params.has_key?(:statistics)) %>
        <table class="table" id="stat_table">
          <tbody>
            <tr>
              <td> Total Games </td>
              <td> <%= params[:statistics].wins + params[:statistics].loses %> </td>
            </tr>
            <tr>
              <td> No of games won </td>
              <td> <%= params[:statistics].wins %> </td>
            </tr>
            <tr>
              <td> No of games lost </td>
              <td> <%= params[:statistics].loses %> </td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>

      <div id="game" class="tab-pane fade" data-toggle="tab">
        <button class="btn btn-info" type="button" id="create">Create</button>

         <table class="table">  
       
        <% @games.each do |game| 
           @user = User.find(game.user_white_id)
           @url = '/games/' + game.id.to_s %>
      <tr>
        <td><%= game.user_white_id  %></td>
        <td><%= @user.name  %></td>
      <td> <%= link_to 'Join',{:controller => "games", :action => 'show', :id => game.id.to_s,:user => @current_user.id,:game_id => game.id.to_s,:color => 
        "black" }, class: "btn btn-primary", method:'GET' %></td>
         </tr>
         <% end %>
      </table>

      </div>
    </div>
  </div>

  <div class=" col-lg-3 col-md-3 col-sm-3">
    <div class="chat-box-div">
      <div class="chat-box-head">
        GROUP CHAT HISTORY
      </div>
      <div class="panel-body chat-box-main">
        <div id="message">
          <div class="chat-box-left">
            Welcome User.
          </div>
          <div class="chat-box-name-left">
            Admin, 24-April 2016
          </div>
          <hr class="hr-clas" />
        </div>
      </div>
            
      <div class="chat-box-footer">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter Text Here..." id="chatbox">
          <span class="input-group-btn">
            <button class="btn btn-info" type="button" id="send">SEND</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>  
</div> 
