<% content_for :javascript_includes do %>
  <%= javascript_include_tag "games.js" %>
  <%= javascript_include_tag "chess.js" %>
  <%= javascript_include_tag "chessboard-0.3.0.js" %>
  
<% end %>
<%= content_tag :div, class: "temp_information", 
     data: {user: @user, color: @color, game: @game_id, fen_string: @fen_string} do %>
<% end %>
<%= "game ID :" +  @game_id %>
<div class="container container-center " style="margin-top: 70px;">
<div class="row">
  <div class=" col-lg-5 col-md-5 col-sm-5">
    
         <script src="/assets/chess.js"></script>
        <div id="board" style="width: 400px"></div>
        <br><br>
        <p id="status">Status: <span id="status"></span></p>
      </div>

      <div id = "buttons" class=" col-lg-4 col-md-4 col-sm-4">
        <button type="submit" id = "quit" class="btn btn-warning" style="background: #540f2a;" value="quit">QUIT</button>
    </div>

  <div class=" col-lg-3 col-md-3 col-sm-3">
    <div class="chat-box-div">
      <div class="chat-box-head">
        GROUP CHAT 
      </div>
      <div class="panel-body chat-box-main">
        <div id="message">
          <div class="chat-box-left">
            Welcome User.
          </div>
          <div class="chat-box-name-left">
            Admin, 24-April 2016
          </div>
          <hr class="hr-clas" />
        </div>
      </div>
            
      <div class="chat-box-footer">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter Text Here..." id="chatbox">
          <span class="input-group-btn">
            <button class="btn btn-info" type="button" id="send">SEND</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>     

 
